workspace/
*DS_Store*
*~
*.cache
*.log
*.o
*.lo
*.status
*(Autosaved)*
*.jnilib
*.jar
confdefs.h
conftest*
Makefile
modules/*/clang_static_analysis/*
*.xcworkspacedata
*.xcuserstate
*/xcuserdata/*
*.xcuserdatad
