aclocal.m4 linguist-generated
bin/Atlas.spec linguist-language=xml
config/config.guess linguist-vendored
config/config.sub linguist-vendored
config/install-sh linguist-vendored
configure linguist-generated
m4/libtool.m4 linguist-vendored
modules/core/includes/machine.h.in linguist-generated
po/Makefile.in linguist-generated
